channels-redis==4.2.1
daphne==4.1.2
django-allauth==65.3.0
django-cleanup==9.0.0
django-htmx==1.21.0
jaraco.collections==5.1.0
packaging==24.2
pillow==11.0.0
pip-chill==1.0.3
platformdirs==4.2.2
pyopenssl==24.3.0
service-identity==24.2.0
shortuuid==1.0.13
zope.interface==7.2
